
@font-face {font-family: "iconfont";
  src: url('iconfont/iconfont.eot?t=1499838609502'); /* IE9*/
  src: url('iconfont/iconfont.eot?t=1499838609502#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont/iconfont.woff?t=1499838609502') format('woff'), /* chrome, firefox */
  url('iconfont/iconfont.ttf?t=1499838609502') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont/iconfont.svg?t=1499838609502#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:0.7rem;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-tuijian:before { content: "\e631"; }

.icon-wo:before { content: "\e705"; }

.icon-faxian:before { content: "\e602"; }

.icon-gouwuche:before { content: "\e603"; }

.icon-fenlei:before { content: "\e604"; }

